@import './base.css';

#app {
  /* max-width: 1280px; */ /* Remove or comment out max-width */
  /* margin: 0 auto; */   /* Remove or comment out margin */
  padding: 0; /* Set padding to 0, handle padding inside components/views if needed */
  font-weight: normal;
  width: 100%; /* Ensure it takes full width */
  min-height: 100vh; /* Ensure it takes full height */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}
